.wrap_header {
  .mode {
    &--transparent {
      transition: all 0.3s ease;
      background-color: transparent;
      .wrap_logo_search {
        .wrap_logo {
          .title_page {
            color: white;
          }
        }
        .wrap_input_search {
          .ant-input {
            border: 1px solid rgb(235, 235, 235);
            background-color: rgb(247, 247, 247);
          }
        }
      }
      .wrap_menu_nav {
        .wrap_item_nav {
          color: $color-white;
        }
      }
      .isLogin {
        &__content {
          color: white;
        }
      }
    }
    &--white {
      background-color: $color-white;
      background-color: rgb(255, 255, 255);

      box-shadow: 0px 8px 5px -3px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 8px 5px -3px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 8px 5px -3px rgba(0, 0, 0, 0.4);

      transition: all 0.3s ease;
      .isLogin {
        &__content {
          color: $color-blue-0d7f;
        }
      }
      .wrap_logo_search {
        .wrap_logo {
          .title_page {
            color: $color-blue-0d7f;
          }
          svg {
            background-color: $color-blue-0d7f;
          }
        }
        .wrap_input_search {
          .ant-input {
            border: 1px solid $color-blue-0d7f;
          }
        }
      }
      .wrap_menu_nav {
        .wrap_item_nav {
          color: $color-blue-0d7f;
        }
        .is-active-nav {
          .wrap_item_nav {
            &::before {
              content: '';
              background: $color-blue-0d7f;
            }
          }
        }
      }
      .wrap_btn {
        border-color: $color-blue-0d7f;
        color: $color-blue-0d7f;
        &:hover {
          color: $color-white;
          background-color: $color-blue-0d7f;
        }
      }
    }
  }
  &_container {
    width: 100%;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    padding: 0 24px;

    .isLogin {
      &__content {
        .wrap_title {
          margin-right: 8px;
        }
        display: flex;
        font-weight: bold;
      }
    }
    .wrap_logo_search {
      display: flex;
      align-items: center;
      flex: 1;
      .wrap_logo {
        display: flex;
        align-items: center;
        .title_page {
          margin-left: 16px;
          color: white;

          text-transform: capitalize;
          font-size: 20px;
          font-weight: 700;
          margin: 0px 0px 0px 10px;
        }
      }
      .wrap_input_search {
        margin-left: 3%;
        position: relative;

        width: 40%;
        max-width: 430px;
        margin-right: 40px;

        .icon_search {
          position: absolute;
          top: 10px;
          right: 10px;
          .anticon.anticon-search {
            font-size: 20px;
          }
        }
        .ant-input {
          height: 40px;
          font-size: 17px;
          font-weight: 700;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 15px;
          padding-right: 30px;
          border-radius: 4px;
          color: rgb(44, 44, 44);
          border: 1px solid rgb(235, 235, 235);
          background-color: rgb(247, 247, 247);
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: all 0.3s ease 0s;
        }
      }
    }
    .wrap_menu_nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      .wrap_item_nav {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $color-white;
        margin: 0 15px;
        font-weight: 700;

        font-size: 16px;
        line-height: 18px;
        transition: color 0.2s ease-in-out 0s;
        padding: 30px 10px;
        height: 30px;
        position: relative;
      }
      .is-active-nav {
        .wrap_item_nav {
          &::before {
            content: '';
            background: $color-white;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
          &:hover::before {
            height: 3px;
            transform: translateY(0);
          }
        }
      }
    }
    .wrap_btn {
      cursor: pointer;
      padding: 2px 10px;
      border: 3px solid $color-white;
      border-radius: 6px;
      color: $color-white;
      font-weight: 700;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-blue-0d7f;
        background-color: $color-white;
      }
    }
  }
}
