.wrap__modal__user {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 2px rgba(27, 27, 27, 0.2), 0 0 8px 0 rgba(27, 27, 27, 0.1);
  border-radius: 4px;
  .container_modal_user {
    display: flex;
    flex-direction: column;
    .link-to-page {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 8px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      .link-page {
        margin-bottom: 16px;
      }
    }
    .wrap_btn {
      padding: 16px;
      .btn_logout {
        margin-top: 16px;
      }
    }
  }
}
