.wrap_landing {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrap_first_screen_page {
      position: relative;
      .wrap_img_background {
        position: relative;
        width: 100vw;
        height: 100vh;
        img {
          filter: brightness(0.8);
        }
        .title_welcome {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          text-align: center;
          cursor: default;
          color: $color-white;
          font-size: 50px;
        }
      }
    }
    .wrap_content {
      width: 100%;
      padding: 20px 40px;

      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .wrap_categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin-bottom: 32px;
        .title {
          font-size: 36px;
          color: #333f57;
          font-weight: 700;
          margin-bottom: 21px;
          position: relative;
          display: inline-block;
          padding-top: 35px;
        }
        .description {
          font-size: 18px;
          color: #808996;
          font-weight: 500;
          line-height: 28px;
          margin-bottom: 24px;
        }
        .wrap_cate {
          display: flex;
          align-items: center;

          .item_cate {
            width: 300px;
            position: relative;
            border-radius: 4px;
            overflow: hidden;

            margin: 0 16px;
            transition: all 0.3s ease;
            &:hover {
              transition: all 0.3s ease;
              transform: scale(1.2);

              .wrap_info_cate {
                .wrap_icon {
                  margin-bottom: 16px;
                  transition: all 0.3s ease;
                  transform: scale(1.2);
                }
              }
            }
            .img-background {
              height: 80%;
              object-fit: cover;
              overflow: hidden;
            }
            .wrap_info_cate {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 1;
              color: #ffffff;
              font-weight: 600;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              .wrap_icon {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: $color-white;
                transition: all 0.3s ease;
                margin-bottom: 8px;

                color: #ff6b6b;
                .la {
                  font-size: 24px;
                }
              }

              .title_name {
                font-size: 16px;
                text-transform: capitalize;
                margin-bottom: 14px;
              }
              .amount {
                width: 130px;
                background-color: transparent;
                padding: 6px 11px;
                font-weight: 600;
                border: 2px solid #ff6b6b;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                font-size: 13px;
                &:hover {
                  background-color: $color-white;
                  color: #ff6b6b;
                }
              }
            }
            .wrap_info_cate::after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0.8;
              background-color: #333f57;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              z-index: -1;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
            }
          }
        }
      }

      .wrap_type_room {
        margin: 40px 0;
        max-width: 1680px;
        width: 100%;
        .list_room {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;
        }
        .title_type {
          color: rgb(44, 44, 44);
          font-size: 25px;
          line-height: 30px;
          font-weight: 700;
        }
      }
    }
  }
}
