.wrap_card_booking_room {
  display: flex;
  width: 100%;
  padding: 16px;
  border: 1px solid rgb(1, 127, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0 rgba(1, 127, 255, 0.55);
  -webkit-box-shadow: 0px 0px 5px 0 rgba(1, 127, 255, 0.55);
  -moz-box-shadow: 0px 0px 5px 0 rgba(1, 127, 255, 0.55);
  .wrap_img {
    img {
      width: 120px;
      height: 120px;
      border-radius: 8px;
    }
  }
  .w-auto {
    width: auto !important;
  }
  .w-15 {
    width: 15% !important;
  }
  .w-30 {
    width: 30% !important;
  }
  .wrap_detail {
    padding: 0 12px 0 24px;
    width: 40%;
    display: flex;
    flex-direction: column;
    .item_detail {
      margin-bottom: 8px;
      .title_main {
        font-size: 16px;
        color: #000;
        word-break: break-word;
      }
      p {
        margin-bottom: 8px;
      }
      .title {
        color: #666666;
      }
      .value {
        font-size: 16px;
        font-weight: bolder;
      }
    }
    .row {
      display: flex !important;
      justify-content: space-between;
      .item_detail {
        margin-right: 16px;
      }
      &_child {
        display: flex !important;
        .title {
          margin-right: 8px;
        }
      }
    }
    .right {
      text-align: right;
    }
    .btn_cancel {
      width: 100%;
      height: 40px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: 1.5px solid red;
      border-radius: 6px;
      color: red;
      transition: all 0.3s ease;
      flex: 1;
      &:hover {
        transition: all 0.3s ease;
        background-color: red;
        color: white;
      }
    }
  }
}
