.wrap_page_room_ordered {
  width: 100%;
  margin: 20vh 0;
  &__container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
      width: 80%;
      .title_page {
        font-size: 22px;
        margin-bottom: 24px;
      }
    }
  }
}
