.wrap_listorder_component {
  width: 100%;
  display: flex;
  justify-content: center;

  &_container {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 100px 0;

    .wrap_layout_booking {
      border: 1px solid #017fff;

      width: 55%;

      .header {
        padding-top: 24px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: #017fff;
      }

      .content {
        padding: 24px;
      }
    }

    .form_input_info_user {
      width: 45%;
      padding-top: 24px;
      border: 1px solid #017fff;
      border-radius: 4px;
      display: flex;
      flex-direction: column;

      .wrap_all_item_input {
        padding: 0 24px;

        .ant-form-item-label {
          text-align: left;
          width: 40%;
        }

        h1 {
          color: #017fff;
          font-weight: bold;
          text-align: center;
        }
      }

      .detail_price {
        background-color: #f7f8f9;
        padding: 24px 0;
        color: #434343;
        flex: 1;

        &_title {
          padding: 0 24px;

          h4 {
            color: #434343;
            font-size: 18px;
          }
        }

        &_order {
          width: 100%;

          .item_price {
            padding: 6px 24px 0;
            width: 100%;
            &__container {
              color: black;
              width: 100%;
              display: grid;
              grid-template-columns: 50% 25% 25%;
              grid-template-areas: '. .';
              text-align: end;
              &__title {
                height: 23px;
                font-size: 14px;
                display: flex;

                .txt_title {
                  @include max-line-esllipsis(1);
                  width: 100%;
                  text-align: left;
                }
                overflow: hidden;
              }
            }
          }

          .line_horization {
            margin: 16px 0;
            border-bottom: 1px solid #cacaca;
          }

          .wrap_total_money {
            padding: 0 24px;
            display: flex;
            justify-content: space-between;
          }
        }

        &_total {
          display: flex;
          margin-top: 15px;

          p {
            color: #434343;
            line-height: 22px;
          }

          &:last-child {
            font-size: 16px;
            font-weight: 500;
          }
        }

        .wrap_btn_pay {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          .btn_pay {
            margin-right: 24px;
            width: 135px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
