.card_room_hover {
  width: 260px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  margin-bottom: 30px;
  border: 2px solid $color-white-e6e6;
  background-color: $color-white;
  margin: 8px;
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  &_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .wrap_img {
      transition: all 0.3s ease-in-out;
      position: relative;
      .wrap_icon_heart {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: rgba(39, 43, 65, 0.6);
        height: 26px;
        width: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .la-heart-o {
          color: white;
          font-size: 16px;
          z-index: 3;
        }
      }
    }
    &:hover {
      .wrap_img {
        filter: brightness(0.8);
      }
      .wrap_info {
        .book_card {
          bottom: 130%;
        }
      }
    }
    .wrap_img {
      width: 100%;
      height: 135px;
      overflow: hidden;
      position: relative;
    }
    .wrap_info {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: space-between;
      flex: 1;
      padding: 30px 14px;
      .title {
        color: rgb(44, 44, 44);
        font-size: $text-size-17;
        font-weight: 700;
        margin-bottom: 2px;
        @include max-line-esllipsis(2);
      }
      .wrap_price {
        color: rgb(44, 44, 44);
        font-size: 13px;
        font-weight: 400;
        margin-top: 2px;
        white-space: nowrap;
        width: 100%;
        @include max-line-esllipsis(1);
      }
      .book_card {
        position: absolute;
        left: 38%;
        bottom: -50%;
        color: $color-white;
        border: 2px solid $color-white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: $text-size-14;
        font-weight: 700;
        z-index: 1;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
