.wrap_account {
  width: 100%;
  height: 100%;
  user-select: none;

  &_container {
    width: 100%;
    min-height: 100%;
    display: flex;
    position: relative;
    align-items: center;

    .wrap_sign_account {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 45%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
    }
    .wrap_img_bacground {
      transition: all 0.3s ease;

      position: absolute;
      top: 0;
      right: 0;

      width: 55%;
      height: 100%;
    }
    .swith-img-to-left {
      right: 45%;
      transition: all ease 0.3s;
    }

    .switch-signup {
      margin-left: 55%;
    }
  }
}
