.wrap_footer {
  width: 100%;
  &_container {
    background-image: url('https://tripfinder-redq.firebaseapp.com/static/media/footer-bg.ca99d536.svg');
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    .wrap_logo {
      display: flex;
      align-items: center;
      .title_page {
        margin-left: 16px;
        color: $color-blue-017f;

        text-transform: capitalize;
        font-size: 20px;
        font-weight: 700;
        margin: 0px 0px 0px 10px;
      }
    }
    .wrap_list_menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      margin: 40px auto;

      .wrap_item_nav {
        cursor: pointer;
        font-weight: 600;
        color: $color-gray-2c2c;
      }
    }
    .copy_right {
      color: $color-gray-9090;
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
    }
  }
}
