.card_room_list {
  display: flex;

  width: 100%;
  margin: 16px 0;
  // height: 500px;
  .wrap_img {
    width: 180px;
    height: 100px;
  }

  .wrap_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12px;
    &__title {
      font-size: 14px;
      color: black;
      font-weight: bolder;
      @include max-line-esllipsis(1);
      overflow: hidden;
      height: 20px;
    }

    &__detail {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      flex: 1;
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex: 1;
      }
      .wrap_date {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: inherit;
        .wrap_info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .name {
            color: #a6a6a6;
            font-size: 14px;
            margin-bottom: 4px;
            &.right {
              text-align: right;
            }
          }

          .value {
            color: #000;
            font-size: 16px;
            font-weight: inherit;

            &.right {
              text-align: right;
            }
          }
        }
      }
      .column {
        display: flex;
        flex-direction: column;
      }
      .jty-spb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  .jtf-fe {
    display: flex;
    justify-content: flex-end !important;
  }
  .btn--cancel {
    margin-top: 4px;
    width: 150px;
    float: right;
  }
}
