.wrap-page-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__background {
  }
  &__content {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;

      li {
        font-size: 15px;
        padding: 28px 20px;
        text-transform: capitalize;
        transition: color 0.2s ease-in-out 0s;

        a {
          color: $color-gray-2c2c;
        }
      }
    }

    .item-btn {
      padding: 6px 0;
      margin: 0px 5px;
      height: 37px;
      min-width: 90px;
      padding: 0px 5px;
      border: 1px solid rgb(230, 230, 230);
      color: rgb(44, 44, 44);
      font-size: 15px;
      font-weight: 700;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      transition: background-color 0.2s ease 0s;

      button {
        border: none;
        background: transparent;
      }
    }
  }

  &__body {
    margin: 0 auto;
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    &__left {
      width: 70%;

      .card__info {
        margin-bottom: 70px;

        &--location {
          font-size: $text-size-13;
          color: $color-gray-9090;
          margin: 0px;
          font-weight: 400;
        }

        &--rate {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          color: $color-gray-2c2c;
          font-size: $text-size-13;
          margin-top: 10px;
          margin-bottom: 27px;

          .rate_icon {
            line-height: 1.5px;
            margin-right: 8px;
          }
        }

        &--title {
          line-height: 1.36;
          font-size: 25px;
          color: $color-gray-2c2c;
          margin-bottom: 4px;
          margin-top: 0px;
          font-weight: 700;
        }

        &--content {
          font-size: 15px;
          color: $color-gray-2c2c;
          margin: 0px;
          font-weight: 400;
          line-height: 1.6;
        }

        .read_more {
          background: none;
          outline: none;
          border: none;

          margin-top: 30px;
          font-size: 15px;
          font-weight: 700;
          border: 0px;
          padding: 0px;
          height: auto;
          line-height: 1;
          box-shadow: none;
          text-shadow: none;
          color: $color-main-page;
        }
      }

      .card__service {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;

        &--title {
          font-size: 25px;
          margin-bottom: 30px;
          line-height: 1.36;

          color: $color-gray-2c2c;
          margin-bottom: 14px;
          margin-top: 0px;
          font-weight: 700;
        }

        &--content {
          .wrap_list_card_service {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .card_service_intro {
              border-radius: 4px;
              padding: 38px 36px 30px;
              background-color: rgb(247, 247, 247);
              text-align: center;
              margin-right: 14px;
              cursor: pointer;

              svg {
                width: 80px;
                height: auto;
                fill: $color-blue-017f;
              }
            }
          }

          .read_more {
            cursor: pointer;

            font-size: $text-size-15;
            color: $color-main-page;
            font-weight: 700;
          }
        }
      }

      .card__location {
        &--title {
          line-height: 1.36;
          font-size: $text-size-25;
          color: $color-gray-2c2c;
          margin-bottom: 4px;
          margin-top: 0px;
          font-weight: 700;

          margin-bottom: 30px;
        }

        &--content {
          p {
            margin-bottom: 20px;

            display: flex;
            flex-direction: column;
          }

          .address {
            font-size: $text-size-15;
            color: $color-gray-2c2c;
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
            font-weight: 700;
            line-height: 1.6;
            margin-bottom: 0px !important;
          }
        }
      }

      .card_review {
        &--header {
          display: flex;
          justify-content: space-between;

          padding-bottom: 25px;
          border-bottom: 1px solid $color-gray-b4;
          margin-bottom: 30px;

          &--left {
            display: flex;
            align-items: center;
          }

          &--title {
            font-size: 25px;
            font-weight: 700;
            margin-right: 15px;
          }

          &--right {
            display: flex;
            align-items: center;

            .ant-input-wrapper.ant-input-group {
              width: 170px;

              .ant-input {
                height: px-to-rem(37);
              }

              .ant-btn-icon-only {
                padding: 0 8px;
                margin: 0;
                height: px-to-rem(37);
              }
            }

            .ant-btn-primary {
              margin-left: 30px;
              height: 37px;
              width: 133px;
              min-width: 133px;
              text-shadow: none;
              font-size: 15px;
              font-weight: 700;
              border-radius: 3px;
              line-height: 1;
            }
          }
        }

        .wrap__list__review {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 0px 16px;
          grid-template-areas: '. . . . .';

          .card_review--table {
            &--title {
              font-weight: 600;
              margin-bottom: 8px;
            }

            .wrap_list_checkbox_review {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .list_review_check {
                display: flex;
                flex-direction: column;
                padding-right: 24px;
                .item_wrap {
                  margin-bottom: 8px;
                  .ant-checkbox-input {
                    height: 18px;
                    width: 18px;
                    font-size: 16px;
                    line-height: 50px;
                    padding: 10px;
                    border-color: black;
                  }
                  .title {
                    font-size: 12.5px;
                    color: rgb(44, 44, 44);
                    flex: 1 1 0%;
                    margin: 0px;
                    font-weight: 400;

                    margin-left: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &__right {
      width: 30%;
      position: relative;
      flex: 1;
      height: 100%;
      padding: 0 24px;
      .wrap_modal_booking {
        top: 80px;
        left: 0;
        width: 100%;
        background-color: white;
        border-radius: 3px;

        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);

        .header {
          width: 100%;
          display: flex;

          padding: 24px;
          border-bottom: 1px solid $color-gray-b4;
          .wrap_price {
            display: flex;
            align-items: flex-end;
            flex: 1;

            font-size: 15px;
            margin: 0px;
            font-weight: 400;
            .money {
              color: rgb(44, 44, 44);
              font-size: 25px;
              margin-top: 0px;
              margin-bottom: 0px;
              font-weight: 700;
              line-height: 27px;
              margin-right: 4px;
            }
          }
          .contact_owner {
            font-size: 15px;
            font-weight: 700;

            color: $color-main-page;
          }
        }
        .content {
          padding: 24px;
          border-bottom: 1px solid $color-gray-b4;
          .form_input_book {
            .item_form {
              display: flex;
              flex-direction: column;
              .ant-form-item-label {
                text-align: left;
              }
              .ant-form-item-control-input-content {
                display: flex;
              }
            }
            .btnBookRoom {
              height: 40px;
              font-weight: 700;
            }
          }
        }

        .footer {
          padding: 24px;
          color: rgb(44, 44, 44);
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
