.wrap_layout_login {
  width: 100%;
  &_container {
    width: 100%;
    &_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 130px;
      .title {
        color: $color-gray-2c2c;
        font-size: 45px;
        line-height: 54px;
        font-weight: 700;
        margin-bottom: 0px;
        margin-top: 58px;
      }
      .sub_title {
        color: $color-gray-7777;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 45px;
        margin-top: 10px;
      }
      .wrap_layout_input {
        .wrap_input_account {
          display: flex;
          flex-direction: column;
          .ant-form-item-label {
            text-align: left;
            font-weight: 700;
          }
          justify-content: start;
          .ant-input {
            width: 100%;
            min-height: 40px;
            border-radius: 3px;
            border-color: $color-white-e6e6;
          }
        }
        .wrap_remember_forgot {
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 100%;
          font-size: $text-size-15;
          font-weight: 700;
          line-height: 1;
          .wrap_rememberme {
            .ant-form-item-control-input-content {
              display: flex;
              align-items: center;
            }
            span {
              font-weight: 500;
              margin-left: 8px;
            }
          }
        }
        .wrap_btn_submit {
          .ant-btn {
            min-height: 50px;
            font-size: 17px;
            font-weight: 700;
          }
        }
        .title_login_with {
          margin: 30px 0;
          color: $color-gray-7777;
          font-size: $text-size-16;
          text-align: center;
        }
        .wrap_btn_login_with {
          margin: 20px 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 20px;
          grid-template-areas: '. .';
          .btn_login_with {
            width: 100%;
            height: 57px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            color: $color-white;
            font-weight: 700;
            font-size: $text-size-16;
          }
        }
        .wrap_title_register {
          text-align: center;
          font-size: 15px;
          font-weight: 700;
          color: rgb(119, 119, 119);
          line-height: 1;

          .title_register {
            color: $color-blue-017f;
            margin-left: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
