.wrap_main_page {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  &_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrap_main_header {
      z-index: 9999999;
    }
    .wrap_main_body {
      flex: 1;
      height: max-content;
    }
  }
}
