$color-main-page: rgb(1, 127, 255);
$color-blue-0770: #0770cd;
$color-blue-017f: #017fff;
$color-blue-1ba0: #1ba0e2;
$color-blue-0d7f: rgb(1, 127, 255); //#017FFF
$color-gray-69: #696969;
$color-white-e6: #e6eaed;
$color-white-e6e6: #e6e6e6;
$color-white: #ffffff;
$color-white-f6: #f6f6f6;
$color-gray-b4: #b4b4b4;
$color-gray-43: #434343;
$color-gray-8f: #8f8f8f;
$color-gray-2c2c: #2c2c2c; // rgb(44, 44, 44)
$color-gray-7777: #777777;
$color-gray-9090: #909090; // rgb(144, 144, 144)
$color-green-00: #00a651;
