@import './function.scss';
@import './colors.scss';
@import './custom-antd.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  background-color: $color-white;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@import '../../Components/LayoutHeaderFooter/layoutheaderfooter.scss';
@import '../../Components/LayoutHeaderFooter/Header/header.scss';
@import '../../Components/LayoutHeaderFooter/Footer/footer.scss';
@import '../../Components/Landing/landing.scss';

@import '../../Components/Landing/CardHover/cardhover.scss';

@import '../../Components/Account/account.scss';
@import '../../Components/Account/SignIn/signin.scss';
@import '../../Components/Account/SignUp/signup.scss';

// detailRooms
@import '../../Components/DetailRooms/detailrooms.scss';

@import '../../Components/ListOrder/listorder.scss';
@import '../../Components/ListOrder/Card/CardChild/cardchild.scss';
@import '../../Components/ListOrder/Card/CardSignle/cardsignle.scss';

//mybooking
@import '../../Components/MyBooking/mybooking.scss';
@import '../../Components/MyBooking/CardMyBooking/cardMyBooking.scss';
