$text-size-13: px-to-rem(13);
$text-size-14: px-to-rem(14);
$text-size-15: px-to-rem(15);
$text-size-16: px-to-rem(16);
$text-size-17: px-to-rem(17);

$text-size-25: px-to-rem(25);

@mixin max-line-esllipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
