.room_signle {
  display: flex;
  flex-direction: column;

  width: 100%;
  // height: 500px;
  .wrap_img {
    max-height: 250px;
    img {
      width: 100%;
      max-height: 250px;
    }
  }
  .wrap_content {
    height: 100%;
    padding-top: 24px;
    &__title {
      font-size: 22px;
      color: black;
      font-weight: bolder;
    }
    &__desc {
      font-size: 16px;
    }

    &__price {
      margin-top: 12px;
      .name {
        font-size: 20px;
        &.right {
          text-align: right;
        }
      }
      .value {
        color: #000;
        font-size: 24px;
        font-weight: inherit;
        &.right {
          text-align: right;
        }
      }
    }
    &__detail {
      margin: 24px 0;
      .row {
        display: flex;
        justify-content: space-between;
      }
      .wrap_info {
        display: flex;
        flex-direction: column;
        align-content: center;
        .info_detail {
          display: flex;
          align-content: center;
          flex-direction: column;
          .name {
            color: #cccccc;
            font-size: 18px;
            &.right {
              text-align: right;
            }
          }
          .value {
            color: #000;
            font-size: 22px;
            font-weight: inherit;
            &.right {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .btn--cancel {
    margin-top: 24px;
    width: 150px;
    float: right;
  }
}
